


  <nav class="navegacion">
    <a href="/vistas/volver"><i class="bi bi-box-arrow-left"></i></a>
    <div>
      <span>Caja</span>
    </div>
    <div class="iconMenuHamburguesa">
      <i class="bi bi-menu-button-wide-fill"></i>
    </div>
  </nav>
   <div class="contMayorCli">
    <section class="sectionContClientes">
         <div class="divClienteBuscar">
             <h3 class="tituloForm">Buscar Producto</h3>
          </div>
         <div class="divClienteBuscar2">
  
             <input class="inpBuscarClientes" type="text" name="" id="" placeholder="Ingrese un DNI o Nombre" />
             <button class="btnBuscarCliente"><i class="bi bi-search"></i></button>
         </div>
      <div class="tarjCli">
        <h4 >Apellido y Nombre</h4>
           <h5>DNI</h4>
          <h5>Direccion Comercial:</h5>
           <h5>Direccion Particular:</h5>
          <h5>Tipo de comercio:</h5>
           <h5>Celular:</h5>
          <h5>Telefono:</h5>
          <h5>Correo Electronico:</h5>
          
      </div>  
       <div class="divClienteBuscar">
        <h3 class="tituloForm">Productos Agregados Recientemente</h3>
      </div>
      <div class="tarjCli">
        dfssdfds
      </div>  

    </section>
  </div>
