
    <nav class="navegacion">
        <div>
           <a href="/vistas/volver"><i class="bi bi-box-arrow-left"></i></a> 
        </div>
        <div>
           <span>Cobranza</span>
        </div>
       
        <div class="iconMenuHamburguesa">
            <i class="bi bi-menu-button-wide-fill"></i>
        </div>
    </nav>
    <h2 class="tituloTarjetaCliente" >Lista De Cobro</h2>

    </div>

    
    <section class="contBtn">
        <div class="ContarjetaClienteCobranza" id="ContarjetaClienteCobranza">
            
  
        </div>
    </section>

    <footer class="footerCobranza">
            <div class="divFooter">
                <spam>Nombre Usuario</spam>
                <spam>Cobrado= $0.0</spam>
                <spam>Esperado= $0.0</spam>
            </div>
    
            <div class="divFooter">
              <spam>Fecha: 00/00/00</spam>
              <spam>Efectividad= 100%</spam>
              <spam>Adelantos= $0.0</spam>
            </div>
    </footer>
