<div class="divError">
    <h1 class="labelError">¡Error!</h1>

     <h2 class="h2Error"> {{ mensajeError }} </h2>
  
    <a class="btnError" href="javascript:history.back()"> Volver Atrás</a>
</div>