<nav class="navegacion">
  <a href="/vistas/volver"><i class="bi bi-box-arrow-left"></i></a>
  <div>
    <span>Clientes</span>
  </div>
  <div class="iconMenuHamburguesa">
    <i class="bi bi-menu-button-wide-fill"></i>
  </div>
</nav>
<div class="contMayorCli">
  <div class="formCliente">
    <div class="divClienteBuscar">
      <h3 class="tituloForm">Estadisticas De Cobranza</h3>
    </div>
    <div class="tarjUser">
      <br />
      <table class="tableUsuarios">
        <tr class="tableUsuariosTr">
          <th class="tableUsuariosThTitulo">Fecha</th>
          <th class="tableUsuariosThTitulo">Esperado</th>
          <th class="tableUsuariosThTitulo">Cobrado</th>
        </tr>
        {{#each balance}}
          <tr>
            <th class="tableUsuariosThRespuesta">{{fecha}}</th>
            <th class="tableUsuariosThRespuesta">${{esperado}}</th>
            <th class="tableUsuariosThRespuesta">${{cobrado}}</th>
          </tr>
        {{/each}}
      </table>
      <br />
    </div>
  </div>
</div>