

       <nav class="navegacion">
        <div>
      </div>
        <div>
            <span>Cobranza App</span>
        </div>
        <div class="iconMenuHamburguesa">
           <a href="/users/login">Login</a>
        </div>
    </nav>
       
      






    <footer class="footerIngresoLogin">
        <div class="divContactosFooterLogin">
            <i class="bi bi-whatsapp"></i>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-instagram"></i> 
        </div>
        <span>Copyright Fuenmayor Villarreal C.</span>
    
    </footer>