       <nav class="navegacion">
        <div>
      </div>
        <div>
            <span>Cobranza App</span>
        </div>
        <div class="iconMenuHamburguesa">
           
        </div>
    </nav>
       
          <form   class="formIngresoLogin" action="/users" method="post">
        <h1 class="tituloFormLogin">Ingresar</h1>
        <div class="divInp">
            <label for="dni" class="tituloInpLogin">Usuario</label><br>
            <input id="dni" class="inpFormLogin" type="text" placeholder="  Ingresa DNI" name="dni" required>
        </div>
        <div class="divInp">
            <label for="" class="tituloInpLogin">Contraseña</label><br>
            <input id="password" class="inpFormLogin" type="password" placeholder="  Ingresa Contraseña" name="password" required>
        </div>
        <button class="btnAceptar"  type="submit" >Aceptar</button>
        <a class="tituloInpLogin" href="">Recuperar Cuenta</a>
        <a class="tituloInpLogin" href="l">Registrarse</a>

    </form>


    <footer class="footerIngresoLogin">
        <div class="divContactosFooterLogin">
            <i class="bi bi-whatsapp"></i>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-instagram"></i> 
        </div>
        <span>Copyright Fuenmayor Villarreal C.</span>
    
    </footer>