<nav class="navegacion">
    <a href="/vistas/volver"><i class="bi bi-box-arrow-left"></i></a>
    <div>
      <span>Productos</span>
    </div>
    <div class="iconMenuHamburguesa">
      <i class="bi bi-menu-button-wide-fill"></i>
    </div>
  </nav>
   <div class="contMayorCli">
    <section class="sectionContClientes">
         <div class="divClienteBuscar">
             <h3 class="tituloForm">Catalogo Productos</h3>
          </div>
         <div class="contLisProd">
          {{#each productos}}
          <div class="tarjetaProd">
            <img src="/uploads/{{cod}}.jpg" alt="" class="imgProd">
            <h1>{{nombre}}</h1>
          </div>

          {{/each}}
          <div class="tarjetaProd"></div>
          <div class="tarjetaProd"></div>
          <div class="tarjetaProd"></div>
         </div>
    </section>
  </div>
