


  <nav class="navegacion">
    <a href="/vistas/volver"><i class="bi bi-box-arrow-left"></i></a>
    <div>
      <span>Rutas De Cobranza</span>
    </div>
    <div class="iconMenuHamburguesa">
      <i class="bi bi-menu-button-wide-fill"></i>
    </div>
  </nav>
<div class="contMayorCli">
<div class="formCliente">
    <div class="divClienteBuscar">
        <h3 class="tituloForm">Datos Generales</h3>
      </div>
     <br>
       <table class="tableSettPlanes">
        <tr>
          <th class="thTableSettPla">Inversion:</th>
          <th class="thTableSettPla">00</th>
          <th class="thTableSettPla">Capital:</th>
          <th class="thTableSettPla">00</th>
        </tr>
        <tr>
          <th class="thTableSettPla">Por Cobrar:</th>
          <th class="thTableSettPla">00</th>
          <th class="thTableSettPla">Efectivo:</th>
          <th class="thTableSettPla">$00</th>
        </tr>
         <tr>
          <th class="thTableSettPla">Ventas:</th>
          <th class="thTableSettPla">00</th>
          <th class="thTableSettPla">Cobrado:</th>
          <th class="thTableSettPla">$00</th>
        </tr>
          <tr>
          <th class="thTableSettPla">Ganancias:</th>
          <th class="thTableSettPla">00</th>
          <th class="thTableSettPla">Esperado:</th>
          <th class="thTableSettPla">$00</th>
        </tr>
          <tr>
          <th class="thTableSettPla">Efectividad:</th>
          <th class="thTableSettPla">00</th>
          <th class="thTableSettPla">Gastos:</th>
          <th class="thTableSettPla">$00</th>
        </tr>
     
      </table>
 <br>
       <div class="divClienteBuscar">
        <h3 class="tituloForm">Datos De Rutas</h3>
      </div>
     <br>
       <table class="tableSettPlanes">
         <tr>
          <th class="thTableSettPla" colspan="3">Nombre</th>
          <th class="thTableSettPla" colspan="3">codRuta</th>
        </tr>
        <tr>
          <th class="thTableSettPla">Inversion:</th>
          <th class="thTableSettPla">00</th>
          <th class="thTableSettPla">Capital:</th>
          <th class="thTableSettPla">00</th>
        </tr>
        <tr>
          <th class="thTableSettPla">Por Cobrar:</th>
          <th class="thTableSettPla">00</th>
          <th class="thTableSettPla">Efectivo:</th>
          <th class="thTableSettPla">$00</th>
        </tr>
         <tr>
          <th class="thTableSettPla">Ventas:</th>
          <th class="thTableSettPla">00</th>
          <th class="thTableSettPla">Cobrado:</th>
          <th class="thTableSettPla">$00</th>
        </tr>
          <tr>
          <th class="thTableSettPla">Ganancias:</th>
          <th class="thTableSettPla">00</th>
          <th class="thTableSettPla">Esperado:</th>
          <th class="thTableSettPla">$00</th>
        </tr>
          <tr>
          <th class="thTableSettPla">Efectividad:</th>
          <th class="thTableSettPla">00</th>
          <th class="thTableSettPla">Gastos:</th>
          <th class="thTableSettPla">$00</th>
        </tr>
     
      </table>

      <br>
       <table class="tableSettPlanes">
         <tr>
          <th class="thTableSettPla" colspan="3">Nombre</th>
          <th class="thTableSettPla" colspan="3">codRuta</th>
        </tr>
        <tr>
          <th class="thTableSettPla">Inversion:</th>
          <th class="thTableSettPla">00</th>
          <th class="thTableSettPla">Capital:</th>
          <th class="thTableSettPla">00</th>
        </tr>
        <tr>
          <th class="thTableSettPla">Por Cobrar:</th>
          <th class="thTableSettPla">00</th>
          <th class="thTableSettPla">Efectivo:</th>
          <th class="thTableSettPla">$00</th>
        </tr>
         <tr>
          <th class="thTableSettPla">Ventas:</th>
          <th class="thTableSettPla">00</th>
          <th class="thTableSettPla">Cobrado:</th>
          <th class="thTableSettPla">$00</th>
        </tr>
          <tr>
          <th class="thTableSettPla">Ganancias:</th>
          <th class="thTableSettPla">00</th>
          <th class="thTableSettPla">Esperado:</th>
          <th class="thTableSettPla">$00</th>
        </tr>
          <tr>
          <th class="thTableSettPla">Efectividad:</th>
          <th class="thTableSettPla">00</th>
          <th class="thTableSettPla">Gastos:</th>
          <th class="thTableSettPla">$00</th>
        </tr>
     
      </table>
      <br>
       <table class="tableSettPlanes">
         <tr>
          <th class="thTableSettPla" colspan="3">Nombre</th>
          <th class="thTableSettPla" colspan="3">codRuta</th>
        </tr>
        <tr>
          <th class="thTableSettPla">Inversion:</th>
          <th class="thTableSettPla">00</th>
          <th class="thTableSettPla">Capital:</th>
          <th class="thTableSettPla">00</th>
        </tr>
        <tr>
          <th class="thTableSettPla">Por Cobrar:</th>
          <th class="thTableSettPla">00</th>
          <th class="thTableSettPla">Efectivo:</th>
          <th class="thTableSettPla">$00</th>
        </tr>
         <tr>
          <th class="thTableSettPla">Ventas:</th>
          <th class="thTableSettPla">00</th>
          <th class="thTableSettPla">Cobrado:</th>
          <th class="thTableSettPla">$00</th>
        </tr>
          <tr>
          <th class="thTableSettPla">Ganancias:</th>
          <th class="thTableSettPla">00</th>
          <th class="thTableSettPla">Esperado:</th>
          <th class="thTableSettPla">$00</th>
        </tr>
          <tr>
          <th class="thTableSettPla">Efectividad:</th>
          <th class="thTableSettPla">00</th>
          <th class="thTableSettPla">Gastos:</th>
          <th class="thTableSettPla">$00</th>
        </tr>
     
      </table>
      <br>
</div>
    <section class="sectionContClientes">
         <div class="divClienteBuscar">
             <h3 class="tituloForm">Buscar Producto</h3>
          </div>
         <div class="divClienteBuscar2">
  
             <input class="inpBuscarClientes" type="text" name="" id="" placeholder="Ingrese un DNI o Nombre" />
             <button class="btnBuscarCliente"><i class="bi bi-search"></i></button>
         </div>
      <div class="tarjCli">
        <h4 >Apellido y Nombre</h4>
           <h5>DNI</h4>
          <h5>Direccion Comercial:</h5>
           <h5>Direccion Particular:</h5>
          <h5>Tipo de comercio:</h5>
           <h5>Celular:</h5>
          <h5>Telefono:</h5>
          <h5>Correo Electronico:</h5>
          
      </div>  

    </section>

  </div>
 
    
